/* Global */

:root {
    --square-side: 40px;
    --blue: rgb(0, 33, 255);
    --red: #ff272f;
    --battleship-grey: #848482;
    --green: #034c3c;
    --seal-brown: #582707;

    
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 60px;

    background: linear-gradient(-45deg, #1e90ff, #2454FF, #2b4593);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    min-height: 100vh;
    margin: 0;
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }



footer{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-size: 5rem;
    font-weight: bold;
}

.header{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    color: white;
}

/* Display */

.game-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr var(--square-side) min-content;
}

/* .game-status {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
} */


/* Display - Score */
.score{
    grid-area: 2 / 2 / 3 / 4;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; 
    text-align: center;
}

.score > h3{
    font-size: 4rem;
    margin: 15px;
}

.score > div{
    font-size: 3rem;
    margin: 25px;
    font-weight: bold;
    text-align: center;
}

.ships-remaining{
    color: var(--blue);
    font-size: 4rem;
}

.new-game-btn-container{
    grid-area: 1 / 2 / 2 / 4;
}

.flip-btn-container{
    grid-area: 3 / 2 / 4 / 4;
}

.flip-btn{
    transition: all 500ms ease 0ms;

}

.flip-btn:hover{
    transform: scale(1.1);
}

.flip-btn:disabled{
    transform: none;
    transition: none;
}

.fleet-container{
    grid-area: 4 / 2 / 5 / 4;
    padding: 10px;
    border: 1px dotted black;
    background-color: rgba(0, 33, 255, 0.2);
    width:max-content;
    height: max-content;
    justify-self: center;
    margin: 10px;
}


.new-game-btn-container, .random-positions-btn-container, .flip-btn-container {
    grid-template-columns:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



button{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.new-game{
    width: 250px;
    margin-top: 20px;
    transition: all 500ms ease 0ms;
}

.new-game:hover{
    transform: scale(1.1);
}




/* make button react when hovered and clicked */
button:hover {
    background-color: var(--blue);
}
button:active {
    background-color: darkblue;
}
button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
button:focus {
    outline: none;
}
button:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}



.fleet{
    justify-self: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: calc(6 * var(--square-side));
    height: calc(6 * var(--square-side));
}

/* Docked ships */
.docked-ship {
    width: fit-content;
    height: fit-content;
    display:flex;

   
}

.docked-ship:hover{
    animation-duration: 0.1s;
    animation-name: vibrate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

@keyframes vibrate{
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-1deg);
    }
}





/* Battle grid */

.battle-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.battle-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.team-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.player-container, .computer-container{
    display: grid;
    grid-template-columns: repeat(11, var(--square-side));
    grid-template-rows: repeat(11, var(--square-side));
    margin: 20px;
}

.computer-team {
    margin-left: auto;
}

.player-team {
    margin-right: auto;
}

.columns-container{
    grid-area: 1 / 2 / 2 / 12;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column {
    width: var(--square-side);
    height: var(--square-side);
    border: 1px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}



.rows-container{
    grid-area: 2 / 1 / 12 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    width: var(--square-side);
    height: var(--square-side);
    border: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.board{
    grid-area: 2 / 2 / 12 / 12;
    display: grid;
    grid-template-columns: repeat(10, var(--square-side));
    grid-template-rows: repeat(10, var(--square-side));
    grid-auto-flow: column;
}


.square{
    width: var(--square-side);
    height: var(--square-side);
    border: 1px solid black;
    display: flex;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}

.player-name-header {
    text-align: center;    
}

.miss {
    background-color: var(--blue);
}

.hit {
    background-color: var(--red);
}

.sunk {
    background-color: var(--seal-brown);
}

.ship{
    background-color: var(--green);
}

.invalid-zone{
    border: dashed 3px var(--red);

}

.square:not(.miss):not(.hit):not(.sunk):hover {
    cursor: pointer;
}



/* Drag and Drop */

.drag-over {
    border: dashed 3px var(--blue);
}

.hide {
    display: none;
}

.dragging {
    opacity: 0.5;
}

